body{
    font-family: Arial;
    background:#f4f4f4;
}
table{
    width:100%;
    background:white;
    border-collapse:collapse;
}
th,td{
    padding:10px;
    border:1px solid #ddd;
}
th{
    background:#f07109;
    color:white;
}
.msg{
    background:#d4edda;
    padding:10px;
    margin:10px 0;
}
.form-box{
    background:white;
    padding:20px;
    width:300px;
    margin-top:20px;
}
button{
    padding:10px;
    margin-right:5px;
}
