body {
    font-family: Arial;
    background: #f9f9f9;
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
}

.success { color: green; text-align: center; }
.error { color: red; text-align: center; }
.warning { color: orange; text-align: center; }
