body {
    font-family: Arial;
    background: #f2f2f2;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.login-card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
}

.error {
    color: red;
    text-align: center;
}
