body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}
